.contained-chef-NeoChef
    .main-chef-NeoChef
        .title-chef-NeoChef
            p ¹НеоШеф.
        .bio-chef-NeoChef
            .info-chef-NeoChef
                img(src="img/eselev.png")
                .description-chef-NeoChef
                    .description-chef-NeoChef-title
                        h1 Кирилл Еселев,
                        p Концепт-Шеф Ichu Moscow,
                            br
                            |Мед & Ревень, Винодельня №1
                    hr
                    .description-chef-NeoChef-story
                        p Финалист кулинарного реалити-шоу
                            br
                            | «МастерШеф».
            .video-chef-NeoChef
                .chef-video-block
                    img(src="img/fish-video.png")
                    .chef-video-text
                        h1 Лосось с киноа
                        p от Кирилла Еселева
                .chef-video-block
                    img(src="img/meat-video.png")
                    .chef-video-text
                        h1 Телятина с айвой
                        p от Кирилла Еселева